{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<h1>Projectss </h1>

<form method="get">
  <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
  <button type="submit">Search</button>
</form>

<table>
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Title</th>
      <th>Metadata Type</th>
      <th>Organization</th>
      <th>Status</th>
      <th>Submitted By</th>
      <th>Submission Date</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
      <tr>
        <td>{{ project.project_id }}</td>
        <td>  -- ({{ project.sample_count }}) Samples</td>
        <td>{{ project.metadata_type }}</td>
        <td>{{ project.organization }}</td>
        <td>{{ project.status }}</td>
        <td>{{ project.submitted_by }}</td>
        <td>{{ project.submission_date }}</td>
              <td><a href="{% url 'project_detail' project.pk %}">{{ project.id }} ---- {{ project.sample_count }} Samples</a></td>

      </tr>
    {% empty %}
      <tr><td colspan="7">No projects found.</td></tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
  <div>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
{% endif %}

{% endblock %}
